#area-mensagens {
	border: 1px solid #00ff00;
	padding-left: 5px;
	padding-right: 5px;
	
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table.names tr:nth-child(even) {
    background-color: #eee;
}
table.names tr:nth-child(odd) {
   background-color:#fff;
}
table.names th {
    background-color: black;
    color: white
}